@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset default styles */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

#root {
  width: 100%;
  min-height: 100vh;
}

/* Remove default dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    color: inherit;
    background-color: inherit;
  }
}